$white: #EBEBEB;
$white-2: #E4E7EE;
$white-3: #EEEEEE;
$white-4: #fff;
$white-5: #F1F1F4;
$border-light-grey: #C8D3DB;
$light-blue: #15B0FC;
$dark-grey: #394556;
$grey: #B2B6BA;
$grey-2: #737373;
$black: #000;
$light-black: #00000029;

